<div class="m-5 flex justify-center flex-wrap">
    {{#each @model as |artwork|}}
    <Artwork @artwork={{artwork}} />
    {{/each}}
</div>
{{!-- Pagniation --}}
<div class="flex justify-center mb-10">
    <button type="button" class="px-3 py-1 shadow-lg cursor-pointer hover:bg-sky-100 border rounded" {{on "click" this.prevPage}}>Prev page</button>
    <div class="mx-10">Page {{this.page}}</div>
    <button type="button" class="px-3 py-1 shadow-lg cursor-pointer hover:bg-sky-100 border rounded" {{on "click" this.nextPage}}>Next page</button>
</div>